.register-device-button-wrapper{
    text-align: center;
    margin: 2rem 0;
}

.devices{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1.5rem;
}

.devices > * {
    padding: 1rem 1.5rem 2rem 1.5rem;
    border: 1px solid #ccc;
    transition: background-color .3s;
    cursor: pointer;
}

.devices > *:hover{
    background-color: #e5e5e5;
}

@media(max-width: 800px){
    .devices{
        grid-template-columns: 1fr;
    }
}